.profile-page {
    padding-top: 72px;
}
.header-info{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover-box{
    height: 24rem;
    width: 100%;
}
.cover-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.avatar-box{
    margin: 0px auto;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar-box .avatar{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: solid 2px white;
    margin-bottom: 10px;
    object-fit: cover;
}
.avatar-box .username{
    font-size: 1.5rem;
}

.description-this-user {
    margin: 10px 0px;
}

.body_container{
    width: 60%;
    margin: 20px auto;
    margin-bottom: 100px;
}

.menu-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 2px #a1a1a1;
}
.nav-list_info{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.nav-item_info{
    color: #a1a1a1;
    font-weight: 500;
    cursor: pointer;
    height: 60px;
    margin: 0px 10px;
}

.nav-item_info .nav-link {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    top: -3%;
}

.nav-active_info{
    color: black !important;
    border-top: solid 2px black;
}
li{
    list-style: none;
}
a{
    padding: 0px !important;
}

@media only screen and (max-width: 1024px) {
    .body_container{
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .body_container{
        width: 100%;
    }
    .profile-page {
        padding-top: 130px;
    }
}