.profile-page {
    padding-top: 72px;
}
.header{
    position: relative;
}
.cover-box{
    height: 24rem;
    width: 100%;
}
.cover-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.avatar-box{
    position: absolute;
    right: 41%;
    top: 73%;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .avatar-box{
        right: 38%;
    }
}
@media only screen and (max-width: 768px) {
    .avatar-box{
        right: 36%;
    }
}
@media only screen and (max-width: 425px) {
    .avatar-box{
        right: 26%;
    }
}