@media (max-width: 1200px) {
    .view-clb .view-page {
        font-size: 35px;
    }
}
@media (min-width: 1200px) {
    .view-clb .view-page {
        font-size: 40px;
    }
}
@media (max-width: 992px) {
    .view-clb .view-page {
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .view-clb .view-page {
        font-size: 15px;
    }
}
@media (max-width: 350px) {
    .view-clb .view-page {
        font-size: 10px;
    }
}


.view-clb {
    width: 100%;
    height: 300px;
    position: relative;
}
.view-clb img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.view-clb .view-page {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(46, 119, 253);
    color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
.view-clb .view-page:hover {
    background-color: rgb(13, 98, 255);
}
.view-clb:hover img {
opacity: 0.3;
}

.view-clb:hover .view-page {
opacity: 1;
}

.intro{
    width: 90%;
    margin: auto;
    margin-top:5%
}
.intro::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}
.activity{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.activity::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

.sponsor {
    margin-top: 5%;
    /* background-color: #ffffff; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}
.sponsor::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    /* visibility: hidden; */
    pointer-events: none;
}

.member .memberContent {
    z-index: 2;
    background: linear-gradient(90deg, #1B294D 65%, rgb(245, 244, 253) 65%);
    padding: 1%;
}
.member{
    margin-top: 5%;
}

.member h3 {
    font-size: 1.7em;
    color: rgb(245, 244, 253);
}
.member::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}


.companion .companionContent {
    background-color:rgb(225, 246, 255);
    background-image: linear-gradient(to top, #c3d7da, rgb(245, 244, 253));
    margin-top: 5%;
    padding-top: 1%;
    width: 100%;
    min-height: 200px;
}

.companion::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

.companion h3,.sponsor h3 {
    text-align: center;
    line-height: 15px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #1B294D;
    font-size: 1.7em;
}

.footer {
    color: rgb(209, 208, 208);
    background: #1B294D ;
    padding: 4%;
}