.sponsors {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 550px;
    justify-content: space-between;
    margin: 0px auto;
    align-items: flex-end;
}

.diamond {
    border-top: 3px solid rgb(106, 143, 247);
    /* flex: 1; */
    width: 33%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px 30px 0 0 ;
    background-image: linear-gradient(to bottom, rgb(95, 171, 241), rgb(245, 244, 253));
}

.gold {
    border-top: 3px solid gold;
    /* flex: 1; */
    width: 33%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, rgb(248, 229, 124), rgb(245, 244, 253));

}

.silver {
    border-top: 3px solid silver;
    /* flex: 1; */
    width: 33%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, silver, rgb(245, 244, 253));

}

.cup-gold, .cup-diamond, .cup-silver {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: skyblue;
    position: absolute;
    margin-top: -50px;
    

}

.cup-gold .image {
    /* transform: translate(-50%,-50%); */
    height: 100px;
}

.cup-gold {
    border: 3px solid rgb(245, 219, 76);
    /* transform: translate(-50%,-50%); */
    
}

.cup-diamond {
    border: 3px solid darkturquoise;
}
.cup-diamond .image {
    height: 100px;
}

.cup-silver .image {
    height: 100px;
}

.cup-silver {
    border: 3px solid silver;
}

.ava-spon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: cover;
    margin-top: 100px;
    transition: 0.6s ease-in-out;
}

.name-spon, .khoa-spon {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease-in-out;
}

.control-sponsor {
    text-align: center;
    /* position: absolute; */
    bottom: 80px;
    font-size: 40px;
    color: rgb(180, 232, 255);
}
.control-sponsor:hover {
    color: rgb(53, 194, 255);
    cursor: pointer;
}


@media (max-width: 768px) {
    .sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .diamond, .gold, .silver {
        width: 100%;
        height: 100%;
        margin-top: 50PX;
    }
    .sponsor h3 {
        font-size: 1.5em ;
    }

}
