.in-group {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 360px;
  padding-top: 72px;
}

.in-group .recent-post {
  font-size: 20px;
  padding-top: 20px;
  color: rgb(88, 88, 88);
}

.post-in-group {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .in-group {
    padding-left: 0;
  }
  .post-in-group {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .in-group {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 600px) {
  .in-group {
    padding-top: 0px;
  }
  .post-in-group {
    width: 100%;
  }
  .recent-post {
    display: none;
  }
}