.menu-group {
  position: fixed;
  left: 0;
  top: 0px;
  width: 360px;
  max-width: calc(100% - 60px);
  background-color: white;
  height: 100vh;
  box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);
  padding: 72px 10px 0px 10px;
}

.list-go-to-group {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 123px);
}

.list-go-to-group::-webkit-scrollbar {
  display: none;
}

.title-group {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.title-group h3 {
  font-weight: bold;
}

.search-group {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-group i {
  font-size: 22px;
}

.in-create-new-group {
  width: 100%;
  margin: 10px;
}

.create-new-group {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #e7f3fe;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #2996f6;
  font-weight: bold;
}

.create-new-group:focus {
  outline: none;
}

.create-new-group:hover {
  background-color: #d3e6f8;
}

.create-new-group i {
  margin-right: 5px;
}

.your-manager, .your-group {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.your-group {
  margin-top: 10px;
  border-top: 1px solid #e2e2e2;
}

.your-manager h5, .your-group h5 {
  padding: 10px 0px;
  font-weight: bold;
}

.go-to-group {
  width: 100%;
  min-height: 60px;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

.go-to-group:hover {
  background-color: rgb(223, 223, 223);
  color: inherit;
}

.go-to-group img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 5px;
}

.name-go-to-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name-go-to-group h5 {
  word-break: break-all;
  font-weight: normal;
}

.name-go-to-group p {
  color: rgb(88, 88, 88);
}

.your-groups-more {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.your-groups-more:hover {
  background-color: rgb(228, 228, 228);
}

.your-groups-more:focus {
  outline: none;
}

.your-groups-more i {
  margin-left: 5px;
}

.bars-group {
  position: absolute;
  background-color: #2996f6;
  width: 60px;
  height: 60px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 135px;
  right: -60px;
  display: none;
}

.bars-group i {
  font-size: 30px;
  color: white;
}

.slide-right-group {
  -webkit-animation: slide-right-group 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right-group 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left-group {
  -webkit-animation: slide-left-group 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left-group 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-group__mobile {
  width: 100%;
  display: none;
  flex-direction: column;
  height: auto;
  padding-top: 130px;
  background-color: white;
  margin: 0px auto;
  border-radius: 5px;
}

.list-group__mobile {
  padding: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
}

.list-group__mobile::-webkit-scrollbar {
  display: none;
}

.list-group-item__mobile {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: auto;
  border-radius: 10px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

.list-group-item__mobile:hover {
  background-color: rgb(223, 223, 223);
  color: inherit;
}

.list-group-item__mobile img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.list-group-item__mobile strong {
  word-break: break-all;
}

.menu-in-group__mobile {
  display: flex;
  width: 100%;
  min-height: 45px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.menu-in-group__mobile button {
  border: none;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(223, 223, 223);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-in-group__mobile button:focus {
  outline: none;
}

.menu-in-group__mobile button i {
  margin-right: 5px;
}

@media only screen and (max-width: 1024px) {
  .menu-group {
    transform: translateX(-100%);
  }

  .bars-group {
    display: flex;
  }
  @-webkit-keyframes slide-right-group {
    0% {
      -webkit-transform: translateX(-360px);
              transform: translateX(-360px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-right-group {
    0% {
      -webkit-transform: translateX(-360px);
              transform: translateX(-360px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @-webkit-keyframes slide-left-group {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-360px);
              transform: translateX(-360px);
    }
  }
  @keyframes slide-left-group {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-360px);
              transform: translateX(-360px);
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-group {
    padding-top: 130px;
  }
  .bars-group {
    top: 190px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-group {
    display: none;
  }
  .bars-group {
    display: none;
  }

  .menu-group__mobile {
    display: flex;
  }

}