* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

p, label, h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
  padding: 0;
}

.content {
  width: 70%;
  margin: 0px auto;
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}
