* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

p, label, h1, h2, h3, h4 ,h5 ,h6 {
  margin: 0;
  padding: 0;
}

.content {
  width: 70%;
  margin: 0px auto;
  padding-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .left-content {
    padding: 0px;
  }
}



pre {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  word-break: break-all;
}
